<%- include('components/navbar') %>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<h1>HOME</h1>
	</section>

	<!-- Main content -->
	<section class="content">
		<!-- Small boxes (Stat box) -->
		<div class="row">
			<div class="col-md-12">
				<div class="box">
					<div class="box-header">


						<p style="line-height: 2em;"><i><div style="text-align:center;"> Selamat datang di website Saya. Coba klik menu di samping,
						maka kamu akan membuka halaman yang berbeda.Ini adalah website yang dibuat dengan link.
						Kamu bisa membuka halaman dengan mudah. Tinggal klik-klik saja! <br></i></p>
						</div>
					</div>
				</div>
			</div>


		</section>
		<!-- /.content -->
	</div>
	<!-- /.content-wrapper -->

	<%- include('components/footer') %>